include mixins
!!! 5
head
  meta(charset='utf-8')
  title DartComm
  meta(name='description', content='Communicate all of the things')
  meta(name='author', content='Dan Dart')
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  +jq
  +bs
  +fa
  != css('dartcomm')
  block usercss
  
body
  .container-fluid
    header.text-center.row
      .col-lg-2 &nbsp;
      .col-lg-8
        h4
          a(href="/") dartcomm
      .col-lg-2
        a.btn.btn-primary(href='/')
          i.fa.fa-inbox
        a.btn.btn-info(href='/settings')
          i.fa.fa-cog
        include loginstatus
    main.col-lg-12.row
      block main
  +ko      
  +js('/js/knockout.mapping-latest.js')
  +js('/socket.io/socket.io.js')
  block userjs