include mixins
!!! 5
head
  meta(charset='utf-8')
  title DartComm
  meta(name='description', content='Communicate all of the things')
  meta(name='author', content='Dan Dart')
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  +jq
  +bs
  +fa
  != css('dartcomm')
  block usercss
  
body
  header.text-center
    h1 Welcome to DartComm
  main.col-lg-10.col-lg-offset-1
    block main
  +ko      
  +js('/js/knockout.mapping-latest.js')
  +js('/socket.io/socket.io.js')
  block userjs